
body {
	font-family: monospace;
	color: #202729;
}

#headshot {
	float: left;
	width: 150px;
	height: 150px;
	margin: 15px;
	margin-right: 25px;
}

div#resume {
	width: 50%;
	background-color: #eee; 
	position: absolute;
	left: 50%;
	transform: translate(-50%, 0);
	padding: 50px;
}

div#desc {
	font-size: 16px;
}

h1#name {
	font-size: 48px;
}

table {
	position: relative;
	top: 20px;
	border-spacing: 0px;
	width: 100%;
	clear: both;
	border-spacing: 15px;
	
}

th {
	font-size: 16px;
	clear: both;
	font-style: italic;
	border-right: thin solid #202729;
	padding-right: 50px;
}

td#col2 {
	width: 400px;
}

@media screen and (max-width: 1280px) {
	div#resume {
		width: 80%;
	}
	th {
		font-size: 14px;
	}
}

.content-title {
	font-weight: bold;
}

.content-sub {
	font-style: italic;
	position: relative;
	left: 20px;
	top: -10px;
}

.content-desc {
	font-style: italic;
	text-align: right;
}

