body {
	color: #202729;
	font-family: "monospace";
	text-align: center;
	margin: 0px;
	overflow: hidden;
}

#resume-button {
	
}

section {
	text-align: center;
	position: relative;
	top: 250px;
}

a {
	text-decoration: none;
}

a li {
	color: #202729;
	display: inline;
	padding: 10px;
}

a li:hover {
	background-color: #202729;
	color: #fff;
}

h1 {
	position: relative;
	top: 150px;
}
