
@import url('https://fonts.googleapis.com/css?family=Fira+Mono|Oswald');

body {
  color: #202729;
  font-family: "Fira Mono";
  text-align: center;
  margin: 0px;
  overflow: hidden;
  background-image: url("resources/dots.png");
}

#resume-button {
  
}

section {
  text-align: center;
  position: relative;
  top: 250px;
}

@keyframes fadeIn {
  0% {
      background-color: #fff;
      color: #202729;
    }

  100% {
        background-color: #202729;
        color: #fff;}
}

a {
  text-decoration: none;
}

a li {
  color: #202729;
  display: inline;
  padding: 10px;
}

a li:hover {
  animation: fadeIn .25s;
  background-color: #202729;
  color: #fff;
}

h1 {
  font-family: "Oswald";
}
