body {
	background-color: #202729;
}

.card {
	background-color: #fff;
	width: 50%;
	height: 50%;
	margin-left: 20%;
	margin-right: 20%;
	box-shadow: 6px 6px 2px 2px #111;
	padding: 50px;
	position: fixed;
	animation: dropincard .5s;
	animation-fill-mode: forwards;
}

.name {
	font-family: "Oswald";
	font-size: 32px;
	color: #202729;
	text-decoration: none;
	display: inline;
	float: left;
	position: relative;
	top: -8px;
	left: 0px;
}

a {
	text-decoration: none;
	font-family: "Open Sans";
	color: #202729;
	padding: 4px;
}

a:hover {
	background-color: #202729;
	color: #fff;
}

.navbar {
	#box-shadow: 6px 6px 2px 2px #111;
	height: 32px;
	background-color: #fff;
	margin: -10px;
	padding: 10px;
	text-align: center;
	animation: dropinbar 1s;
	position: fixed;
	width: 100%;
}

@keyframes dropincard {
	from {top: -2000px;
	      opacity: 0;}
	to   {top:  150px;
	      opacity: 1;}
}

@keyframes dropinbar {
	from {top: -2000px;
	      opacity: 0;}
	to   {top: 0px;
	      opacity: 1;}
}

li {
	display: inline;
	color: #202729
	font-family: "Open Sans";
	font-size: 28px;
	position: relative;
	left: -70px;
	top: 0px;
}
