body {
	background-color: #202729;
}

.card {
	background-color: #fff;
	width: 960px;
	height: 540px;
	margin-left: auto;
	margin-right: auto;
	box-shadow: 6px 6px 2px 2px #111;
	padding: 50px;
	position: relative;
	animation: dropincard 1s;
	animation-fill-mode: forwards;
}

.name {
	font-family: "Oswald";
	font-size: 32px;
	color: #202729;
	text-decoration: none;
	display: inline;
	float: left;
	top: -10px;
	left: 0px;
}

a {
	text-decoration: none;
	color: #202729
	font-family: "Open Sans";
	font-size: 28px;
	position: relative;
	left: -70px;
	top: 0px;
	padding: 10px;
}

a:hover {
	background-color: #202729;
	color: #fff;
	font-family: "Open Sans";
}

.navbar {
	box-shadow: 6px 6px 2px 2px #111;
	height: 32px;
	background-color: #fff;
	margin: -10px;
	padding: 10px;
	text-align: center;
	animation: dropinbar 1s;
	position: relative;
}

@keyframes dropincard {
	from {top: -1000px;}
	to   {top:  100px;}
}

@keyframes dropinbar {
	from {top: -2000px;}
	to   {top: 0px;}
}

li {display: inline;}
